// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-orange{
    background-color: orange;
}

.color-white{
    color: white !important;
}

.color-orange{
    color: orange;
}

.img-round{
    border-radius: 50%;
}

.margin-t-20{
    margin-top: 20px;
}
.margin-r-20{
    margin-right: 20px;
}

.w-45-pc{
    width: 45%;
}
.w-20{
    width: 20px;
}
.w-10{
    width: 10px;
}

.padd-20{
    padding: 20px;
}

.bor-btt-rad{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.form-control-feedback{
    color: red;
}

.search-box{
    margin-bottom: 20px;
}